body{
    background: #000;
}
.boton1{
    background-color: #000;
    position: relative;
    height: 50px;
    width: 150px;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 2px;

    overflow: hidden;
}

.boton1 hover{
background-color: #000;
}


.boton1::before {
    content: "";
    position: absolute;
    background-color: rgb(29, 147, 250);
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    height: 0px;
    width: 0px;
    border-radius: 50%;
    transition: all 0.5s linear;
}

.boton1:hover::before{
    height: 350px;
    width: 350px;
}

.boton1::after{
    content: "INICIAR SESION";
    position: relative;
    z-index: 1;
}

.boton2{
    background-color: #000;
    position: relative;
    height: 50px;
    width: 150px;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 2px;

    overflow: hidden;
}

.boton2 hover{
background-color: #000;
}


.boton2::before {
    content: "";
    position: absolute;
    background-color: rgb(29, 147, 250);
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    height: 0px;
    width: 0px;
    border-radius: 50%;
    transition: all 0.5s linear;
}

.boton2:hover::before{
    height: 350px;
    width: 350px;
}

.boton2::after{
    content: "MI CARRITO";
    position: relative;
    z-index: 1;
}